@tailwind base;
@tailwind components;
@tailwind utilities;

.w-17por{
    transition: all .2s;
}

.w-17por:hover{

    transform: scale(1.1);
    filter: brightness(90%);
}

.w-17por:active{
    transform: scale(0.9);
    filter: brightness(70%);
}

.h-m{
    height: 90vh;
}

.imagen-verde{

    background: radial-gradient(rgb(1, 124, 1),rgb(31, 68, 31));
    
}
.fondo-gris{
    background: radial-gradient(rgb(201, 182, 122), rgb(121, 101, 75));
}

.h-vhh{
    height: 80vh;
}


.bg-foto{
    background:radial-gradient(rgb(56, 56, 56),black);
}
.Carta-negra{
    filter: brightness(1%);
}

.flex-direction-col{
    
    flex-direction: column;
}

.text-shadow{
    text-shadow: 2px 2px 2px #000000;
}

.fichas{
    width: 100%;
    
    
}
.img-cartas{
    width: 100px;
}

.left-0por{
    left: 40%;
}

.left-1por{
    left: 43%;
}

.left-2por{
    left: 46%;
}

.left-3por{
    left: 49%;
}

.left-4por{
    left: 52%;
}

.left-5por{
    left: 54%;
}

.left-6por{
    left: 56%;
}

.left-7por{
    left: 58%;
}


.hovercartas{
    transition: all .2s;
}
.hovercartas:hover{
    transform: scale(1.1);
}

.gifperdiste{
background-image:  url(img/pierdes.gif);
background-position: center;
background-size: cover;
}

.gifganaste{
    background-image:  url(img/ganas.gif);
    background-position: center;
    
    background-size: cover;
    
}

.gifempate{
    background-image:  url(img/empate.gif);
    background-position: center;
    
    background-size: cover;
    
}

.borroso{
    backdrop-filter: blur(10px);
    background-color: #0000008e;
}